/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Montserrat ;
  color: black;
  font-size: 14px;
  font-weight: 500;
}


/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.wrapper{
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*---------HEADER----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.wrapper{
  min-height: 100%;
  overflow: hidden;
}
._container {
    max-width: 1045px;
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: content-box;
}
.header{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 50;
}
.header_container{
  display: flex;
  min-height: 104px;
  align-items: center;
}
.header_logo{
  font-size: 24px;
  font-weight: 700;
}
.header_menu{
  margin: 0px 0px 0px 132px;
}
@media (max-width: 992px){
  .header_menu {
   margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px){
  .header_menu {
   margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px){
  .header_menu {
   margin: 0px 0px 0px 20px;
  }
}
@media (max-width: 479px){
  .menu_link {
    font-size: 18px;
  }
}
.menu {

}
.menu_list {
  display: flex;
  flex-wrap: wrap ;
}
.menu_item:not(:last-child) {
  margin-right: 21px;
}
.menu_link {
  color: #737373;
  line-height: calc(24/14*100%);
  font-weight: 600;
}

/*---------MAIN----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.main {
  flex: 1 1 auto;
}
/*---------FOOTER----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.footer {

}